html
    head
        title=title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        div(class='center')
            div(class='title')='Predict from Image'
            div(class='content')
                div
                  input(type='file', id='file-upload')
                div(class='result-label')
                    label(id='result-label')
    footer
        script(src='/js/client.js')
